.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContainer {
  background: rgba(0, 0, 0, 0);
  width: 80%;
  height: 80%;
}
.content {
  background: #ffffff;
}
.closeBtn {
  font-size: 36px;
  cursor: pointer;
  text-align: right;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
