.header {
  background: #d5002b;
  color: white;
  font-size: 16px;
  height: 66px;
  display: flex;
  padding: 0 36px;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.motto {
  font-size: 12px;
  margin: 5px 0 0 0;
}

.est {
  font-size: 12px;
  align-self: flex-end;
  margin: 0 0 12px 0;
}
