.card {
  display: flex;
  width: 420px;
  max-width: 100%;
  height: 128px;
  margin-bottom: 10px;
  cursor: pointer;
}

.info {
  padding: 5px 10px;
  overflow: hidden;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}
