html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #2d373e;
  background-color: #f4f3f0;
  font-weight: lighter;
  font-size: .875em;
  line-height: 1.42857143;
}
