.details {
  display: flex;
}

.left {
  padding: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.name {
  font-weight: bold;
  font-size: 22px;
}
